<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="mapper.offnowMv">
 	<insert id="insert" parameterType="com.web.vo.OffNowVO">
 	insert into offNow values('ex'||LPAD(offnowSeq.nextVal,4,0),LPAD(offnowSeq.nextVal,4,0),
	#{exCategory},#{exTitle},TO_DATE(#{exTermStart},'yyyy-mm-dd'),TO_DATE(#{exTermEnd},'yyyy-mm-dd'),
	#{exPlace},0,#{exContent},#{exAuthor},#{exHost},#{exPrice},#{exPiece},#{exFile},#{exSfile})
 	</insert>
 	
 	<select id="count" resultType="int">
 	select count(exid) from offNow
 	</select>
 	
 	<select id="selectList" parameterType="map" resultType="com.web.vo.OffNowVO">
select rno,exid,exno, extitle, exfile,exsfile,extermstart,extermend,excategory from(
select rownum rno,exid,exno, extitle, exfile,exsfile,extermstart,extermend,excategory from(
select exid,exno, extitle, exfile,exsfile,extermstart,extermend,excategory from offnow order by exno desc))where rno between #{start} and #{end}


 	</select>
 <!-- 검색기능
 	<select id="countSearch" parameterType="java.lang.String" resultType="int">
 	select count(exid) from offnow where extitle like concat(concat('%',#{searchtext}),'%')
 	</select>
 	  
 	
 	
 		<select id="selectListSearch" parameterType="map" resultType="com.web.vo.DigitalMovieVO">
 select rno,dmid, dmtitle, dmsfile,dmdate,dmhits,dmprogram from
 	(select rownum rno,dmid, dmtitle, dmsfile, to_char(dmdate,'yyyy-mm-dd')dmdate,dmhits,dmprogram from
(select dmid, dmtitle, dmsfile, dmdate,dmhits,dmprogram from digitalMovie where dmtitle like concat(concat('%',#{searchtext}),'%') order by dmdate desc )) where rno between #{start} and #{end}
 	</select>
 	 -->
 	<select id="selectContent" parameterType="java.lang.String" resultType="com.web.vo.OffNowVO">
 		select exid,extitle,eximage,exhost,exCategory,excontent,exhits,previd,prevtitle,nextid,
 		nexttitle from (select exid,extitle,eximage,exhost,exCategory,excontent,exhits,
 		lag(exid,1,0)over(order by extermstart)as previd,
 		lag(extitle,1,0)over(order by extermstart)as prevtitle,
 		lead(exid,1,0)over(order by extermstart)as nextid,
 		lead(extitle,1,0)over(order by extermstart)as nexttitle from offnow) where exid=#{exid}
 	</select>
 	
 	<delete id="deleteContent" parameterType="java.lang.String">
 		delete from offnow where exid=#{exid}
 	</delete>
 	
 	<update id="update" parameterType="com.web.vo.OffNowVO">
	<choose>
		<when test="exImage!=null">
 		update offnow set exTitle=#{exTitle}, exImage=#{exImage}
 		,exCategory=#{exCategory},exContent=#{exContent}
 		 where exid=#{exId}</when>
 		 <otherwise>
 		 update offNow set exTitle=#{exTitle}
 		,exCategory=#{exCategory},exContent=#{exContent}
 		 where exid=#{exId}
 		 </otherwise>
 	</choose>
 	</update>
 	
 	<update id="updateHit" parameterType="java.lang.String">
 		update offnow set exhits=exhits+1 where exId=#{exid}
 	</update>
 </mapper>