<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="mapper.offnowMv">
 	<insert id="insert" parameterType="com.web.vo.OffNowVO">
 	insert into offNow values('ex'||LPAD(offnowSeq.nextVal,4,0),LPAD(offnowSeq.nextVal,4,0),#{exCategory},#{exTitle},#{exTermStart},#{exTermEnd},#{exPlace},0,#{exContent},#{exAuthor},#{exHost},#{exPrice},#{exImage})
 	</insert>
 	
 	<select id="count" resultType="int">
 	select count(exid) from offNow
 	</select>
 	
 	<select id="selectList" parameterType="map" resultType="com.web.vo.OffNowVO">
 	select exno,exid, extitle, dmsfile,dmdate,dmhits,dmprogram from
 	(select rownum rno,dmid, dmtitle, dmsfile, to_char(dmdate,'yyyy-mm-dd')dmdate,dmhits,dmprogram from
(select dmid, dmtitle, dmsfile, dmdate,dmhits,dmprogram from digitalMovie order by dmdate desc))where rno between #{start} and #{end}


 	</select>
 <!-- 검색기능
 	<select id="countSearch" parameterType="java.lang.String" resultType="int">
 	select count(exid) from offnow where extitle like concat(concat('%',#{searchtext}),'%')
 	</select>
 	  
 	
 	
 		<select id="selectListSearch" parameterType="map" resultType="com.web.vo.DigitalMovieVO">
 select rno,dmid, dmtitle, dmsfile,dmdate,dmhits,dmprogram from
 	(select rownum rno,dmid, dmtitle, dmsfile, to_char(dmdate,'yyyy-mm-dd')dmdate,dmhits,dmprogram from
(select dmid, dmtitle, dmsfile, dmdate,dmhits,dmprogram from digitalMovie where dmtitle like concat(concat('%',#{searchtext}),'%') order by dmdate desc )) where rno between #{start} and #{end}
 	</select>
 	 -->
 	<select id="selectContent" parameterType="java.lang.String" resultType="com.web.vo.DigitalMovieVO">
 		select dmid,dmtitle,dmsfile,dmfile,dmurl,dmProgram,dmCategory,dmcontent,dmhits,previd,prevtitle,nextid,
 		nexttitle from (select dmid,dmtitle,dmurl,dmcontent,dmhits,dmsfile,dmfile,dmProgram,dmCategory,
 		lag(dmid,1,0)over(order by dmdate)as previd,
 		lag(dmtitle,1,0)over(order by dmdate)as prevtitle,
 		lead(dmid,1,0)over(order by dmdate)as nextid,
 		lead(dmtitle,1,0)over(order by dmdate)as nexttitle from digitalMovie) where dmid=#{dmid}
 	</select>
 	
 	<delete id="deleteContent" parameterType="java.lang.String">
 		delete from digitalMovie where dmid=#{dmid}
 	</delete>
 	
 	<update id="update" parameterType="com.web.vo.DigitalMovieVO">
	<choose>
		<when test="dmFile!=null">
 		update digitalMovie set dmTitle=#{dmTitle}, dmUrl=#{dmUrl}, dmFile=#{dmFile},dmSfile=#{dmSfile}
 		,dmProgram=#{dmProgram},dmCategory=#{dmCategory},dmContent=#{dmContent}
 		 where dmid=#{dmId}</when>
 		 <otherwise>
 		 update digitalMovie set dmTitle=#{dmTitle}, dmUrl=#{dmUrl}
 		,dmProgram=#{dmProgram},dmCategory=#{dmCategory},dmContent=#{dmContent}
 		 where dmid=#{dmId}
 		 </otherwise>
 	</choose>
 	</update>
 	
 	<update id="updateHit" parameterType="java.lang.String">
 		update digitalMovie set dmhits=dmhits+1 where dmId=#{dmid}
 	</update>
 </mapper>