<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="mapper.rlist">
	<select id="list" resultType="com.web.vo.PostReservationVO">
		select * from rlist order by rdate desc
	</select>
	<select id="list0" parameterType="java.lang.String" resultType="com.web.vo.PostReservationVO">
		select * from rlist where id=#{id} and rvisited=0 order by rdate desc
	</select>
	<select id="list1" parameterType="java.lang.String" resultType="com.web.vo.PostReservationVO">
		select * from rlist where id=#{id} and rvisited=1 order by rdate desc
	</select>
	
	<select id="list_search" parameterType="Map" resultType="com.web.vo.PostReservationVO">
		select * from rlist
		<where>
			<if test="id != ''">
				id = #{id}
			</if>
			<if test="rtitle != ''">
				and rtitle like '%'||#{rtitle}||'%'
			</if>
			<if test="startdate != ''">
				and rdate &gt;= #{startdate}
			</if>
			<if test="enddate != ''">
				and rdate &lt;= #{enddate}
			</if>
			<if test="startdate != '' and enddate != ''">
				and rdate between #{startdate} and #{enddate};
			</if>
			<if test="rtime != ''">
				and rtime = #{rtime}
			</if>
			<if test="startrnum != 0">
				and rnum &gt;= #{startrnum}
			</if>
			<if test="endrnum != 0">
				and rnum &lt;= #{endrnum}
			</if>
		</where>
		order by rdate desc
	</select>
	
	<update id="rcancel" parameterType="java.lang.String">
		update rlist 
			set rcancel = case when rcancel=0 then 1 else 0 end 
			where rid=#{rid}
	</update>
	
	<update id="rcomplete" parameterType="java.lang.String">
		update rlist 
			set rvisited = case when rvisited=0 then 1 else 0 end 
			where rid=#{rid}
	</update>
</mapper>